;; Authoring deps -- datalevin is the scene source of truth (ADR-0036).
;;   clojure -M author.clj      ;; transacts datoms -> Datalog query -> spits scene.edn
{:paths ["."]
 :deps  {datalevin/datalevin {:mvn/version "0.9.22"}}}
